#header > h2 {
    font-size: 20px;
    margin: 0 auto;
    border-bottom: 5px #005EFF solid;
    padding-bottom: 15px;
    text-align: right;
}

#header > h1 {
    margin-bottom: 0px;
    padding-top: 5px;
    text-align: right;
}

#header > img {
    max-width: 100px;
    max-height: 120px;
}

.col-6 {
    display:flex;
}

.pic > img {
    max-width: 80px;
    padding-top: 1px;
}

.pic {
    width: 0%;
}

.row {
    margin: 0 auto;
}

.container-fluid {
    padding: 10px;
}

.main-img {
    text-align: center;
    padding: 15px;
}

.left > img {
    max-width: 200px;
}

.middle > img {
    max-width: 200px;
}

.right > img {
    max-width: 200px;
}

.bottom {
    padding: 10px;
    padding-bottom: 50px;
}

.left {
    text-align: center;
}

.middle {
    text-align: center;
}

.right {
    text-align: center;
}






{
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
.border {
    border: 1px solid blue !important;
}
*/

.row {
    width: 100%;
    display: flex;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.333%;
}
.col-5 {
    width: 41.667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.333%;
}
.col-8 {
    width: 66.667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.333%;
}
.col-11 {
    width: 91.667%;
}
.col-12 {
    width: 100%;
}

@media (max-width: 767px) {
    .row {
        flex-wrap: wrap;
    }
    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9, .col-10,.col-11,.col-12 {
        flex:1;
    }
}

@media (max-width: 480px) {
    .row {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9, .col-10,.col-11,.col-12 {
        width:100%;
    }
}
